@media screen and (min-width: 320px) and (max-width: 500px) {
    div.permb{
        flex-direction: column;
    }
    input.emri{
        height: 20px;
    }
    input.mbiemri{
        height: 20px
    }
    input.emaili{
        height: 20px
    }
    input.notes{
        margin-top: 10px;
        height: 30px
    }
    div.mak-img{
        flex-direction: column;
    }
    div.mak-img1{
        flex-direction: column;
    }
    #popup{
        top: 30%;
        left: 50%;
        width: 80%;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    h2{
        margin-top: 5px;
    }
    #popup1{
        top: 81%;
        left: 50%;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 80%;
    }
    p.leku{
        color:rgb(1, 71, 1);
    }
    img.golfat{
        width: 90%;
        margin-left: 20px;
    }
    p.porosit1{
        text-align: center;
        margin: 0;
    }
    div.bord{
        float: inline-end;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    li{
        color: #000000;
    }
    div.makinat1{
        flex-direction: column;
        margin: 0;
    }
    div.text-cont{
        width: 100%;
    }
    div.container{
        border-radius: 20px;
    }
    div.container1{
        gap: 0px;
    }
    select.cal1{
        margin-bottom: 20px;
    }
    strong.tick{
        color: green;
    }
    img.titulli{
        width: 40%;
        margin-right: 20px;
        margin-left: 10px;
    }
    div.tit{
        display: none;
    }
    strong.leku{
        font-size: 15px;
    }
    div.nje{
        gap: 12px;
        padding: 0;
        margin-right: 45px;
    }
    hr.sep{ 
        display: none;
    }
    div.content1{
        flex-direction: column;
    }
    div.tex{
        width: 100%;
    }
    div.about{
        width: 100%;
    }
    button.buton{
        display: none;
    }
    div.tekst{
        width: 100%;
    }
    div.terms{
        flex-direction: column;
       
    }
    p.zgj{
        text-align: center;
    }
    iframe.map{
        width: 90%;
        text-align: center;
    }
    img.wapp{
        width: 40px;
        left: 5%;
        bottom: 8%;
    }
    div.background{
        background-image: none;
        box-shadow: none;
    }
    div.background1{
        background-size: 100% 100%;
    }
    br.small{
        display: block;
    }
    div.popup{
        width: 80%;
    }
} 
@media screen and (min-width: 300px) and (max-width: 370px){
    div.gap{
        margin-top: 95px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1200px){
    div.text-cont{
        display: block;
        width: 400px;
    }
    div.tregoj{
        display: flex;
        justify-content: center;
    }
    div.content1{
        gap: 70px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px){
    div.background1{
        background-size: 100% 100%;
    }
    div.makinat1{
        flex-direction: column;
    }
    div.tit{
        display: none;
    }
    div.background{
        background-image: none;
        box-shadow: none;
    }
    div.tex{
        width: 100%;
    }
    div.about{
        width: 100%;
        float: right;
        margin: 0;
    }
    div.content1{
        display: block;
      
    }
    button.buton{
        display: none;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px){
    div.about{
        margin: 30px 40px 10px 0px;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px){
div.terms{
    flex-direction: column;
}
p.zgj{
    text-align: center;
}
iframe.map{
    width: 90%;
    text-align: center;
}
hr.sep{
    display: none;
}
    div.permb{
        flex-direction: column;
    }
    div.text-cont{
        width: 100%;
    }
    select.cal1{
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    div.permb{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 500px) and (max-width: 800px){
    #popup{
        top: 30%;
        left: 50%;
        width: 80%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    h2{
        margin-top: 5px;
    }
    #popup1{
        top: 78.5%;
        left: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    #popup1{
        top: 50%;
        left: 77%;
    }
    #popup{top: 50%;
        left: 30%;
    }
}
